# Virtual environments
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Dependency lock file
uv.lock
ipynb_checkpoints/README-checkpoint.md
